<% provide(:title, "Log in") %>


<div class="supergeneral">

  <div class="login">
    <%= link_to 'Back', root_path, class:'logo' %>
    <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :usuario %>
      <%= f.text_field :usuario, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    <a href="#">Olvidaste la Contraseña?</a><br>
    <%= link_to "Eres Nuevo? Registrate", new_user_path %>
  </div>
</div>
