<p id="notice">PERFIL<%= notice %></p>

<p>
  <strong>Nombres:</strong>
  <%= @user.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @user.apellidos %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @user.telefono %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @user.correo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @user.usuario %>
</p>

<p>
  <strong>Contrasena:</strong>
  <%= @user.contrasena %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Logout', users_path %> |
<%= link_to 'Publicar', publicar_user_path(@user)%>|
